// Import all utilities
@use "~/assets/scss/utilities/animations" as *;
@use "~/assets/scss/utilities/mixins" as *;
@use "~/assets/scss/utilities/variables" as *;

.nav {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;

  &-top__left {
    position: absolute;
    left: 0;
    top: 0;
    transform: translateY(-50%);
    width: 100%;
    max-width: 270px;
    z-index: 0;

    @include media($lg) {
      max-width: 120px;
      transform: translate(-20%, -50%);
    }

    @include media($sm) {
      max-width: 60px;
    }

    img {
      @include fit(cover);
    }
  }

  &-top__right {
    position: absolute;
    right: 0;
    top: 0;
    transform: translateY(-50%);
    width: 100%;
    max-width: 220px;
    z-index: 0;

    @include media($lg) {
      max-width: 120px;
      transform: translate(20%, -50%);
    }

    @include media($sm) {
      max-width: 60px;
    }

    img {
      @include fit(cover);
    }
  }

  &-in {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 1;
  }

  &-logo {
    width: 100%;
    max-width: 280px;

    @include media($lg) {
      max-width: 200px;
    }

    @include media($sm) {
      max-width: 120px;
    }

    img {
      @include fit(cover);
    }
  }

  &-phone {
    display: flex;
    align-items: center;
    gap: 10px;
    @include font(38px, 36px, 700);
    color: $green;

    @include media($lg) {
      @include font(28px, 32px, 700);
    }

    @include media($sm) {
      @include font(20px, 24px, 700);
    }

    svg {
      width: 38px;
      height: 38px;

      @include media($lg) {
        width: 28px;
        height: 28px;
      }

      @include media($sm) {
        width: 20px;
        height: 20px;
      }
    }
  }
}
